# Question 1

Consider the following Python module:

a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

After importing the module into the interpreter, you execute:

 b()
 b()
 b()
 a
 ?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement

In [25]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [26]:
b()

In [27]:
b()

In [28]:
b()

In [29]:
a

6

the concept of encapsulation and namespace explains the output , as these 2 functions have their own namespaces .
"a" was initially with a global value of 0, when we ran function b ( function b requires the output of function c) , fuction c return the value of a by adding 2 to the value 0. running the function 3 times cause the value of "a" to be increased by 2 three times (by running function c.
Conclusion : the value of "a" started by 0 
after function b run the first time , "a" =2
after function b run the first time , "a" =4
after function b run the first time , "a" =6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

 fileLength('midterm.py')
284
 fileLength('idterm.py')
Traceback (most recent call last):
  File "<pyshell#34>", line 1, in <module>
    fileLength('idterm.py')
  File "/Users/me/midterm.py", line 3, in fileLength
    infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

 fileLength('midterm.py')
358
 fileLength('idterm.py')
File idterm.py not found.

In [30]:
def fileLength(filename):
    " takes the name of a file as input and returns the length of the file"
    try:
        infile = open (filename,'r')
        content = infile.read ()
        length = len(content)
        print (length)
        infile.close()
    except :
        print ("File {} not found".format (filename))

In [31]:
fileLength("C://Users/abdul/OneDrive/Desktop/Python files/test.txt")

1019

In [32]:
fileLength("idterm.py")

File idterm.py not found

# Question 3

Write a class named Marsupial that can be used as shown below:

 m = Marsupial()
 m.put_in_pouch('doll')
 m.put_in_pouch('firetruck')
 m.put_in_pouch('kitten')
 m.pouch_contents()
['doll', 'firetruck', 'kitten']

In [33]:
class Marsupial:
    "Class enques unlimited number of items and print out all the queue"
    def __init__(self):
        self.q = []

    def put_in_pouch (self, item):
        return self.q.append(item)

    def pouch_contents(self):
        return self.q

In [34]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a.	extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b.	supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
c.	overloads the __str__ operator so it behaves as shown below.
 k = Kangaroo(0,0)
 print(k)
I am a Kangaroo located at coordinates (0,0)
 k.put_in_pouch('doll')
 k.put_in_pouch('firetruck')
 k.put_in_pouch('kitten')
 k.pouch_contents()
['doll', 'firetruck', 'kitten']
 k.jump(1,0)
 k.jump(1,0)
 k.jump(1,0)
 print(k)
I am a Kangaroo located at coordinates (3,0)

In [35]:
class Kangaroo (Marsupial):
    "Subclass of class Marsupial , takes x and y coordinates and print out a statement defining the animal and the location in coordinates"
    
    def __init__(self,xcoord=0,ycoord=0):
        self.q = []
        self.x = xcoord
        self.y = ycoord
        
        
    def jump (self,dx,dy):
        self.x+=dx
        self.y+=dy
        
    def __str__(self):
        
        return ('Iam a Kangaroo located at coordinates ({},{})'.format(self.x, self.y))

In [36]:
k = Kangaroo(0,0)
print(k)

Iam a Kangaroo located at coordinates (0,0)

In [37]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [38]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

Iam a Kangaroo located at coordinates (3,0)

# Question 4

Implement a new GUI class App that combines user-defined tkinter widget classes Calculator and Mortgage displayed below: (This question can be done using a .py file)

In [39]:
from itkinter import *

buttons = [['MC', 'M+', 'M-', 'MR'],
 ['C' , '\u221a', 'x\u00b2', '+' ],
 ['7' , '8' , '9' , '-' ],
 ['4' , '5' , '6' , '*' ],
 ['1' , '2' , '3' , '/' ],
 ['0' , '.' , '+-', '=' ]]


for r in range(6):
        for c in range(4):
            b = Button(self,
                       text=buttons[r][c],
                       width=3,
                       relief=RAISED,
                       command=???) 
            b.grid(row=r+1, column=c) # entry is in row 0

SyntaxError: invalid syntax (<ipython-input-39-35cb6cf2a380>, line 17)

# Question 5

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
 
x = {█(  x/2                    if x is even@3x+1               if x is odd)┤

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [40]:
def collatz(n): 
      
    while n != 1: 
        print(n, end = ' ') 
  
        if n %2 !=0 : 
            n = 3 * n + 1
  
        # If even  
        else: 
            n = n // 2
  
    print(n)

In [41]:
collatz(10)

10 5 16 8 4 2 1

# Question 6

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

binary(0)
0
binary(1)
1
binary(3)
11
binary(9)
1001

In [42]:
def binary (n):
    if n<2:
        print (n)
    else:
        x = bin(n)
        print (x[2:])

In [43]:
binary(3)

11

# Question 7

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)
W3C Mission
 Principles

In [55]:
from re import findall
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.indent = 0
        
    def handle_starttag(self, tag, attrs):
             
            for attr in attrs:
                if tag[0] == 'h':
                                                    
                    print(attr[1])
                    self.indent +=1

In [56]:
infile = urlopen('http://www.w3.org/Consortium/facts.html')
content = infile.read()
infile.close()
parser = HeadingParser()
parser.feed(content.decode())

http://www.w3.org/1999/xhtml
en
en
logo
offscreen
category
title
people
org
revenue
international
process
patpol
history
h4 category
h4 category
offscreen

# Question 8

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent,  should be used to indicate the depth of a URL.

In [89]:
def webdir(url):
    links = analyze(url)
    for link in links:
        try: 
            crawl1(link)
        except: 
            pass

In [90]:
webdir('http://reed.cs.depaul.edu/lperkovic/one.html')

Visiting http://reed.cs.depaul.edu/lperkovic/one.html

NameError: name 'Collector' is not defined

# Question 9

Write SQL queries on the below database table that return: 
a)	All the temperature data.
b)	All the cities, but without repetition.
c)	All the records for India.
d)	All the Fall records.
e)	The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f)	The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g)	The total annual rainfall for Cairo.
h)	The total rainfall for each season.

City 	Country 	Season 	Temperature (C)	Rainfall (mm)
Mumbai 	India 	Winter 	24.8 	5.9 
Mumbai 	India 	Spring	28.4 	16.2 
Mumbai 	India 	Summer	27.9 	1549.4 
Mumbai 	India 	Fall	27.6 	346.0 
London 	United Kingdom 	Winter	4.2 	207.7 
London 	United Kingdom 	Spring	8.3 	169.6 
London 	United Kingdom 	Summer	15.7 	157.0 
London 	United Kingdom 	Fall	10.4 	218.5 
Cairo 	Egypt 	Winter	13.6 	16.5 
Cairo 	Egypt 	Spring	20.7 	6.5 
Cairo 	Egypt 	Summer	27.7 	0.1 
Cairo 	Egypt 	Fall	22.2 	4.5

a)	All the temperature data.

SELECT Temperature (C) FROM table

b)	All the cities, but without repetition.

SELECT DISTINCT City from table

c)	All the records for India.

SELECT * FROM table
WHERE Country = 'India'

d)	All the Fall records.

SELECT * FROM table
WHERE Season = 'Fall'

e)	The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

SELECT City , Country , Season  FROM table WHERE RainFall(mm) BETWEEN 200 AND 400

f)	The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

SELECT City , Country FROM table 
WHERE Temperature (C) > 20
OREDR BY Temperature (C) ASC

g)	The total annual rainfall for Cairo

SELECT SUM(RainFall) From table WHERE City = 'Cairo'

h)	The total rainfall for each season.

SELECT Season , SUM(RainFall) FROM table GROUP BY Season

# Question 10

Suppose list words is defined as follows:

In [42]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

a)	['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [43]:
[word.capitalize() for word in words]

['The', 'Quick', 'Brown', 'Fox', 'Jumps', 'Over', 'The', 'Lazy', 'Dog']

b)	['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [44]:
[word.lower() for word in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c)	[3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [45]:
[len(word) for word in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d)	[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [46]:
[(word.capitalize() , word.lower(), len(word)) for word in words]

[('The', 'the', 3),
 ('Quick', 'quick', 5),
 ('Brown', 'brown', 5),
 ('Fox', 'fox', 3),
 ('Jumps', 'jumps', 5),
 ('Over', 'over', 4),
 ('The', 'the', 3),
 ('Lazy', 'lazy', 4),
 ('Dog', 'dog', 3)]

e)	(the list of words in list words containing 4 or more characters.)

In [48]:
[word for word in words if len(word)>3]

['quick', 'brown', 'jumps', 'over', 'lazy']